.todolist-container {
  margin-left: auto;
  margin-right: auto;
  top: 40px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #a3a3a3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-row {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 5px;
  border: 5px double #fafafa;
  border-radius: 20px;
  background-color: darkgrey;
  text-align: start;
  line-height: 50px;
  padding: 10px 20px;
}

.remove-button {
  background-color: red;
  color: white;
  border-radius: 15px;
  margin: 13px 0;
}